<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function callAjax() {
    var pincode = $('#pincode').val();
    if ($('#pincode').val().length != 6) {

      $('#city').val('');
      $('#state').val('');
    }
    else {
      $.ajax({
        url: "pincodeAjax/",
        type: "POST",
        data: "pincode=" + pincode,
        success: function (obj) {
          if (obj == '') {
            $('#city').val('');
            $('#state').val('');
          }
          $('#city').val(obj.city);
          $('#state').val(obj.state);
        },
        error: function () {
          $('#city').val('');
          $('#state').val('');
        }
      })
    }
  }


</script>



<!-- <div id="band" class="min-h-full w-96 flex items-cente justify-center py-12 px-4 sm:px-6 lg:px-2">
    <div class="modal-content max-w-lg w-full space-y-8">
      <div>
        <h2 class="m-6 text-center text-lg font-extrabold text-gray-900 underline">
          Verify credentials
        </h2>
      </div>

      <% if(messages.success) { %>
        
        <span class="text-red-600 text-xs mt-1 text-center font-medium">
          <%= messages.success%>
        </span>
        <% } %>

          <form class="mx-auto" action="/send-otp-on-phone" method="POST">
            <div class="mt-4">
              <div>
                <label for="phone" class="sr-onl block mb- text-sm font-semibold text-gray-500">Phone</label>
                <div class="mt-1" style="display: flex; align-items: center;">
                  <span class="absolute z-20 sm:text-sm left-20">+91-</span>
                  <input id="phone" name="phone" value="<%= messages.phone%>" type="tel" required 
                  class="appearance-none rounded-none rounded-md relative block w-full px-12 py-2 border placeholder-gray-500 text-gray-900 focus:outline-none focus:z-10 sm:text-sm"
                  pattern="[0-9]{10}" placeholder="945xxx5x20">
                </div>
                
              </div>

              <div class="mt-4">
                <label for="email" class="sr-onl block mb- text-sm font-semibold text-gray-500">Email</label>
                <input id="email" name="email" value="<%= messages.email%>" type="text" required
                  class="appearance-none mt-1 rounded-none rounded-md relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="username@domain.com">
              </div>

              <button type="submit"
                class="sentOtp mt-5 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Get OTP
              </button>

            </div>
          </form>

    </div>
  </div> -->







<!-- 
  -----------------------------------------------------------------------------
                                REGISTERATION FORM STEP -1   
-----------------------------------------------------------------------------  -->
<!-- <style>
    .form-step{
    display: none;
    justify-content: center;
  }
  .form-step-active{
    display: block; 
    justify-content: center;
  }

</style>




<div class="form-step form-step-active">
<div id="ideal" class="py-3 px-4 w-8/12 sm:px-6 lg:px-8" style="width: 100%; display: flex; justify-content: center;">

  <div class="modal-content animate rounded-xl">
    <div>
      <h2 class="m-10 text-center text-3xl font-extrabold text-gray-900 underline">
        Create Account
      </h2>
    </div>



    <div class="w-3/4 flex mx-auto">

      <% if(messages.error) { %>
      <span class="text-red-600 text-xs mx-auto text-center font-medium">
        <%= messages.error%>
      </span>
      <% } %>
         
      <% if(messages.OnRegisterDone) { %>
        <script>
          swal("User Successfully Registered", "Thank you", "success")
        </script>
       <% } %>

    </div>

    <form class="flex justify-center w-full mx-auto" action="/register" method="POST">
      <div class="pb-12 border-gray-500">

        
            <div class="space-x-0 lg:flex lg:space-x-4 mt-2">
              <div class="w-full lg:w-80 mt-4">
                <label for="institution-name" class="sr-onl block mb- text-sm font-semibold text-gray-500">Organization's name</label>
                <input id="institution-name" name="institutionName" value="<%= messages.institutionName%>" type="text"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Institution name">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="username" class="block mb- text-sm font-semibold text-gray-500">
                  Name</label>
                <input id="user-name" name="name" value="<%= messages.name%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Full name">
              </div>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label class="block mb- text-sm font-semibold text-gray-500" for="phone">Phone</label>
                <input id="phone" name="phone" type="tel" pattern="[0-9]{10}" value="<%= messages.phone%>" type="text"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Phone">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="email" class="block mb- text-sm font-semibold text-gray-500">
                  Email</label>
                <input id="email-address" name="email" value="<%= messages.email%>" type="email" autocomplete="email"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Email">
              </div>

            </div>

            <!--
              <div class="w-full lg:w-80 mt-4">
                <label for="eotp" class="block mb- text-sm font-semibold text-gray-500">
                  Email OTP*</label>
                <input id="eotp" name="eotp" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="verification code">
              </div>

            </div> -->

<!-- <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label for="RegisteredAs" class="block mb- text-sm font-semibold text-gray-500">
                  Register as</label>
                <select name="role" class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm">
                  <option value="customer">User</option>
                  <option value="vendor">Vendor & Other</option>
                </select>
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="password" class="block mb- text-sm font-semibold text-gray-500">
                  Password  
    
      <% if(messages.password) { %>        
        <span style="font-size: 8px;" class="ml-1 text-red-600 text-xs mx-auto text-center font-medium">(Must contain atleast 1 of Upper-Case, Lower-Case Letter, Number & Sepcial Charcter)      
          <%= messages.password%>
        </span>
      <% } %>
                </label>
                <input id="password" name="password" type="password" autocomplete="current-password" required
                  class="appearance-non rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Example: Jai@1105"><span onclick="myFunction()" class="eye"><i class="fa fa-eye-low-vision"></i></span> 
              </div>

            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-">

              <div class="w-full lg:w-80 mt-4">
                <label for="designation" class="block mb- text-sm font-semibold text-gray-500">
                  Designation</label>
                <input id="user-designation" name="designation" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)" value="<%= messages.designation%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Designation">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="pincode" class="block mb- text-sm font-semibold text-gray-500">
                  Area Pincode</label>
                <input id="pincode" name="pincode" value="<%= messages.pincode%>" type="text" required  pattern="[0-9]{6}" minlength="6" maxlength="6"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" onkeyup="callAjax()"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Area pincode">
              </div>
            </div>-->

<!-- <div class="space-x-0 lg:flex lg:space-x-4 mt-"> 
              <div class="w-full lg:w-80 mt-4">
                <label for="city" class="block mb- text-sm font-semibold text-gray-500">
                  City</label>
                <input id="city" name="city" type="text" required readonly="readonly" value="<%= messages.city%>"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder=>
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="state" class="block mb- text-sm font-semibold text-gray-500">
                  State</label>
                <input id="state" name="state"  type="text" required readonly="readonly" value="<%= messages.state%>"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm">
              </div>
</div> -->

<!-- <div class="space-x-0 lg:flex lg:space-x-4 mt-">
              <div class="w-full mt-4">
                <label for="address" class="sr-onl block mb- text-sm font-semibold text-gray-500">Address</label>
                <textarea class="w-full px-4 py-3 text-xs border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
                  name="address" value="<%= messages.address%>" type="text" required cols="20" rows="3"
                  placeholder="Address"></textarea>
              </div>
            </div> -->
<!-- 
            <div class="flex items-center justify-between m-3">
              <span></span>
              <div class="text-sm">
                Already have account? <a href="/login" class="font-bold font-medium">
                  Login
                </a>
              </div>
            </div>
            <div class="mt-1">
              <a type="button" style="color: white"
                class="btn-next group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3" style="color: white">
                 
                  <svg class="h-5 w-5 text-white-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                    d="M8.122 24l-4.122-4 8-8-8-8 4.122-4 11.878 12z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                Next
              </a>
            </div>
          </div> -->


<!-- -----------------------------------------------------------------------------
                 PAGE -2 
-----------------------------------------------------------------------------  -->
<!-- 
<div class="form-step">
<div class="space-x-0 lg:flex lg:space-x-4 mt-">
<div class="w-full lg:w-80 mt-4">
  <label for="notp" class="block mb- text-sm font-semibold text-gray-500">Phone
    OTP*</label>
  <input id="otp" name="otp" type="text" required
    class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
    placeholder="verification code">
</div></div>


             <div class="mt-1">
              <button type="submit" href="/login"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                 
                  <svg class="h-5 w-5 text-white-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                Register
              </button>
            </div> 
          </div> 
      </div>

    </form>
  </div>
</div>


</section> -->

<!-- 
<style>
  #multi-step-form-container {
    margin-top: 5rem;
    padding-bottom: 5rem;
  }

  .form-border {
    display: flex;
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .pl-0 {
    padding-left: 0;
  }

  .button {
    border: 1px solid #FE5F1E;
    background-color: #FE5F1E;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
  }

  .mt-3 {
    margin-top: 2rem;
  }

  .d-none {
    display: none;
  }

  .form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
    padding-bottom: 4rem;
  }

  .font-normal {
    font-weight: normal;
  }

  ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
    max-width: 400px;
  }

  ul.form-stepper .form-stepper-circle {
    position: relative;
  }

  ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
  }

  .form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
  }

  .form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 24%;
    left: -5.15%;
  }

  .form-stepper-horizontal li:after {
    background-color: #dee2e6;
  }

  .form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
  }

  .form-stepper-horizontal li:last-child {
    flex: unset;
  }

  ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
  }

  .form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #FE5F1E !important;
    color: #fff;
  }

  .form-stepper .form-stepper-active .label {
    color: #FE5F1E !important;
  }

  .form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #FE5F1E !important;
    color: #fff !important;
  }

  .form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
  }

  .form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
  }

  .form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
  }

  .form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
  }

  .form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
  }

  .form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
  }

  .form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .form-stepper a {
    cursor: default;
  }


</style> -->
<div class="form-border">
  <div style="min-width: 50%">
    <div>
      <h2 class="m-10 text-center text-3xl font-extrabold text-gray-900 ">
        Create Account
      </h2>
    </div>
    <div id="multi-step-form-container">
      <!-- Form Steps / Progress Bar -->
      <ul class="form-stepper form-stepper-horizontal text-center mx-auto pl-0">
        <!-- Step 1 -->
        <li class="form-stepper-active text-center form-stepper-list" step="1">
          <a type="button" step_number="1" class="mx-2 btn-navigate-form-step">
            <span class="form-stepper-circle">
              <span>1</span>
            </span>
            <div class="label">Account Details</div>
          </a>
         </li>
        <!-- Step 2 -->

        <!-- Step 3 -->
        <li class="form-stepper-unfinished text-center form-stepper-list" step="2">
          <a class="mx-2">
            <span class="form-stepper-circle text-muted">
              <span>2</span>
            </span>
            <div class="label text-muted">Verify</div>
          </a>
        </li>
      </ul>


    


      <!-- Step Wise Form Content -->
      <form id="userAccountSetupForm" name="userAccountSetupForm" action="/register" method="POST">
        <!-- Step 1 Content -->
        <section id="step-1" class="form-step">
          <h2 class="font-normal">Account Details</h2>
          <!-- Step 1 input fields -->


          <div class="w-3/4 flex mx-auto mt-4">
          
            <% if(messages.error) { %>
            <span class="text-red-600 text-xs mx-auto text-center font-medium">
              <%= messages.error %>
            </span>
            <% } %>
               
            <% if(messages.OnRegisterDone) { %>
              <script>
                swal("User Successfully Registered", "Thank you", "success")
              </script>
             <% } %>
      
          </div>


          <div class="mt-3 pb-12 border-gray-500 ">

            <div class="space-x-0 lg:flex lg:space-x-4 mt-2">
              <div class="w-full lg:w-80 mt-4">
                <label for="first-name" class="sr-onl block mb- text-sm font-semibold text-gray-500">First Name</label>
                <input id="first-name" name="fname" value="<%= messages.fname%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="First Name">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="last-name" class="block mb- text-sm font-semibold text-gray-500">
                  Last Name</label>
                <input id="last-name" name="lname" value="<%= messages.lname%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Last name">
              </div>
            </div>


            <div class="space-x-0 lg:flex lg:space-x-4 mt-">
              <div class="w-full lg:w-80 mt-4">
                <label class="block mb- text-sm font-semibold text-gray-500" for="phone">Phone</label>
                <input id="phone" name="phone" type="tel" pattern="[0-9]{10}" value="<%= messages.phone%>" type="text"
                  required class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Phone">
              </div>


              <div class="w-full lg:w-80 mt-4">
                <label for="email" class="block mb- text-sm font-semibold text-gray-500">
                  Email</label>
                <input id="email" name="email" value="<%= messages.email%>" type="email" autocomplete="email"
                  required class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Email">
              </div>
            </div>


            <div class="space-x-0 lg:flex lg:space-x-4 mt-2">
              <div class="w-full lg:w-80 mt-4">
                <label for="institution-name"
                  class="sr-onl block mb- text-sm font-semibold text-gray-500">Organization's name</label>
                <input id="institution-name" name="institutionName" value="<%= messages.institutionName%>" type="text"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Institution name">

              </div>


              <div class="w-full lg:w-80 mt-4">
                <label for="RegisteredAs" class="block mb- text-sm font-semibold text-gray-500">
                  Register as</label>
                <select name="role"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm">
                  <option value="customer">User</option>
                  <option value="vendor">Vendor & Other</option>
                </select>
              </div>
            </div>


            <div class="space-x-0 lg:flex lg:space-x-4">
              <div class="w-full lg:w-80 mt-4">
                <label for="designation" class="block mb- text-sm font-semibold text-gray-500">
                  Designation</label>
                <input id="user-designation" name="designation"
                  value="<%= messages.designation%>" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Designation">
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="pincode" class="block mb- text-sm font-semibold text-gray-500">
                  Area Pincode</label>
                <input id="pincode" name="pincode" value="<%= messages.pincode%>" type="text" required
                  pattern="[0-9]{6}" minlength="6" maxlength="6"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57" onkeyup="callAjax()"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Area pincode">
              </div>
            </div>

            <div class="space-x-0 lg:flex lg:space-x-4 mt-"> 
              <div class="w-full lg:w-80 mt-4">
                <label for="city" class="block mb- text-sm font-semibold text-gray-500">
                  City</label>
                <input id="city" name="city" type="text" required readonly="readonly" value="<%= messages.city%>"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder=>
              </div>

              <div class="w-full lg:w-80 mt-4">
                <label for="state" class="block mb- text-sm font-semibold text-gray-500">
                  State</label>
                <input id="state" name="state"  type="text" required readonly="readonly" value="<%= messages.state%>"
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm">
              </div>
            </div>


            <div class="mt-3 space-x-0 lg:flex lg:space-x-4">
              <button
                class="button btn-navigate-form-step group relative w-full flex justify-center py-2 px-4  border border-transparent text-sm font-medium rounded-md text-white btn-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                type="button" onclick="callAjaxOtp()" step_number="2">Save & Continue</button>
            </div>
        </section>
        
        <!-- Step 2 Content, default hidden on page load. -->
        <section id="step-2" class="form-step d-none">
          <h2 class="font-normal">Verify</h2>
          <!-- Step 3 input fields -->
          <div class="mt-3">
            <div class="space-x-0 lg:flex lg:space-x-4 pb-">

              <div class="w-full lg:w-80 mt-4">
                <label for="notp" class="block mb- text-sm font-semibold text-gray-500">Phone
                  OTP*</label>
                <input id="otp" name="otp" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="verification code">
              </div>



              <div class="w-full lg:w-80 mt-4">
                <label for="eotp" class="block mb- text-sm font-semibold text-gray-500">
                  Email OTP*</label>
                <input id="eotp" name="eotp" type="text" required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="verification code">
              </div>

            </div>
          </div>


          
<div class="space-x-0 lg:flex lg:space-x-4 mt-">
              <div class="w-full lg:w-80 mt-4">
                <label for="password" class="block mb- text-sm font-semibold text-gray-500">
                  Password  
    
      <% if(messages.password) { %>        
        <span style="font-size: 8px;" class="ml-1 text-red-600 text-xs mx-auto text-center font-medium">(Must contain atleast 1 of Upper-Case, Lower-Case Letter, Number & Sepcial Charcter)      
          <%= messages.password%>
        </span>
      <% } %>
                </label>
                <input id="password" name="password" type="password" autocomplete="current-password" required
                  class="appearance-non rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Example: Jai@1105"><span onclick="myFunction()" class="eye"><i class="fa fa-eye-low-vision"></i></span> 
              </div>


              <div class="w-full lg:w-80 mt-4">
                <label for="RegisteredAs" class="block mb- text-sm font-semibold text-gray-500">
                  Confirm Password</label>
                  <input id="password2" name="password2" type="password" autocomplete="current-password" required
                  class="appearance-non rounded-none relative block w-full px-3 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 sm:text-sm"
                  placeholder="Example: Jai@1105"><span onclick="myFunction2()" class="eye"><i class="fa fa-eye-low-vision"></i></span>   
              </div>

</div>


          <div class="mt-3 flex justify-evenly">
            <button class="button btn-navigate-form-step mr-3 px-3 py-2" type="button" step_number="1">Back</button>
            <button class="button submit-btn ml-3 px-3 py-2" type="submit">Submit</button>
          </div>

        </section>
      </form>
    </div>
  </div>
</div>

<script>
  const navigateToFormStep = (stepNumber) => {
    /**
     * Hide all form steps.
     */
    document.querySelectorAll(".form-step").forEach((formStepElement) => {
      formStepElement.classList.add("d-none");
    });
    /**
     * Mark all form steps as unfinished.
     */
    document.querySelectorAll(".form-stepper-list").forEach((formStepHeader) => {
      formStepHeader.classList.add("form-stepper-unfinished");
      formStepHeader.classList.remove("form-stepper-active", "form-stepper-completed");
    });
    /**
     * Show the current form step (as passed to the function).
     */
    document.querySelector("#step-" + stepNumber).classList.remove("d-none");
    /**
     * Select the form step circle (progress bar).
     */
    const formStepCircle = document.querySelector('li[step="' + stepNumber + '"]');
    /**
     * Mark the current form step as active.
     */
    formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-completed");
    formStepCircle.classList.add("form-stepper-active");
    /**
     * Loop through each form step circles.
     * This loop will continue up to the current step number.
     * Example: If the current step is 3,
     * then the loop will perform operations for step 1 and 2.
     */
    for (let index = 0; index < stepNumber; index++) {
      /**
       * Select the form step circle (progress bar).
       */
      const formStepCircle = document.querySelector('li[step="' + index + '"]');
      /**
       * Check if the element exist. If yes, then proceed.
       */
      if (formStepCircle) {
        /**
         * Mark the form step as completed.
         */
        formStepCircle.classList.remove("form-stepper-unfinished", "form-stepper-active");
        formStepCircle.classList.add("form-stepper-completed");
      }
    }
  };
  /**
   * Select all form navigation buttons, and loop through them.
   */
  document.querySelectorAll(".btn-navigate-form-step").forEach((formNavigationBtn) => {
    /**
     * Add a click event listener to the button.
     */
    formNavigationBtn.addEventListener("click", () => {
      /**
       * Get the value of the step.
       * 
       */
      const stepNumber = parseInt(formNavigationBtn.getAttribute("step_number"));
      /**
       * Call the function to navigate to the target form step.
       */
      navigateToFormStep(stepNumber);
    });
  });

  function myFunction() {
    var x = document.getElementById("password");

    if (x.type === 'password') {
      x.type = "text";
    }
    else
      x.type = "password";
  }

  function myFunction2() {
    var x = document.getElementById("password2");

    if (x.type === 'password') {
      x.type = "text";
    }
    else
      x.type = "password";
  }
   

  function callAjaxOtp() {
    var email = $('#email').val();
    var phone = $('#phone').val();
    if(phone == ''){
      alert("Enter Phone No. First");
    }

    if(email !== '' || phone !== ''){
      if ($('#phone').val().length == 10) {
        $.ajax({
          url: "/send-otp-on-phone",
          type: "POST",
          data: {
            phone: phone,
            email: email
          }
        }).done(function (data){
          if(data.msg == "Success"){
            alert("Otp Send Successfully")
          }else{
            alert(data.msg)
          }
        })
      }else{
      alert("Enter 10 digit phone no.");}
    }
  }

</script>