<% include ('function'); %> 
<%const string = JSON.stringify(product._id);
%>

    <main class="my-8">
        <div class="container mx-3 px-6">
            <div class="md:flex ">
                <div class="w-full h-48 md:w-2/5 lg:h-2/4 border rounded-lg">
                    <img class="h-4/5 w-4/5 rounded-md object-contain max-w-lg mx-auto " src="/img/<%= product.product.image %>" alt="<%= product.productCayegory %>">
                </div>
                <div class="w-full max-w-md mx-auto mt-5 md:ml-8 md:mt-0 md:w-2/5">
                    <h3 style="font-family: ubuntu;" class="text-black-700 font-semibold uppercase text-2xl "><%= product.product.name %> - <%= product.name %></h3>
                    <span style="font-family: ubuntu;" class="text-black-500 font-bold text-2xl">₹ <%= product.price %></span>
                    <hr class="my-3">
                    <div class="mt-2">
                        <div class="mt-3 text-black-800 text-lg">Product Description</div>
                         <div class="mt-1 mb-4 text-red-500 text-sm"><%= product.product.description %> </div>
                         <div>by: <span class="size py-1 mx-2 px-2 rounded uppercase text-xs"><%= product.product.brand %></span></div>
                         <div class="mt-3">
                            <label class="text-gray-700 text-sm" for="count">Variants</label>
                            <div class="flex items-center mt-1">
                                <% variants.forEach((variant) => { %>
                                   <% if(JSON.stringify(product._id) == JSON.stringify(variant._id)){ %>
                                    <a href = "/productDetails/<%= variant._id %>/<%= variant.product._id %>/1"><button class="variantHover currentVariant border p-2 m-2 rounded "><%= variant.name %></button></a>
                                   <% }else{ %>
                                    <a href = "/productDetails/<%= variant._id %>/<%= variant.product._id %>/1"><button class="variantHover border p-2 m-2 rounded "><%= variant.name %></button></a>
                                   <% } %>
                                <% }) %>
                            </div>
                        </div>
                         
                        <div class="mt-3 text-gray-700 text-sm" for="">Piece per pack: <%= product.piecePerPack %></div>
                    </div>
                
                    <div  class="flex items-center mt-6 justify-center">
                                    <label class="text-gray-700 text-sm hidden" for="product-qty">Qty:</label>
                                    <input type="number" class="w-14 p-1 pl-2 mx-2 border rounded hidden" id = "product-qty" placeholder="1" value = "1">
                                   <div id="buttonSection" >
                                       <% if(user.cart.length <= 0){%>
                                        <button id="add-cart-btn" class=" flex-col mr-4 add-to-cart py-2 px-4 bg-white-600 text-white text-sm font-medium rounded hover:bg-white-500 focus:outline-none focus:bg-white-500">
                                            <span><svg class="h-4 w-4 float-left" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                            </span>
                                            <span class="ml-3">Add to cart</span>
                                    </button>
                                    <%} else if(checkCart(user.cart, string)){%>
                                        
                                        <button id="add-cart-btn" onclick="location.href='/cart'" class=" flex-col mr-4 add-to-cart py-2 px-4 bg-white-600 text-white text-sm font-medium rounded hover:bg-white-500 focus:outline-none focus:bg-white-500">
                                            <span><svg class="h-4 w-4 float-left" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                            </span>
                                            <span class="ml-3">Go To Cart</span>
                                        </button>
                        <%}else {%>
                            <button id="add-cart-btn" class=" flex-col mr-4 add-to-cart py-2 px-4 bg-white-600 text-white text-sm font-medium rounded hover:bg-white-500 focus:outline-none focus:bg-white-500">
                                <span><svg class="h-4 w-4 float-left" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
                                </span>
                                <span class="ml-3">Add to cart</span>
                        </button>

                          <%}%>
                        </div>
                          
                          <button id="buy-now-btn"  class="ml-4 flex-col buy-now py-2 px-4 bg-white-600 text-white text-sm font-medium rounded hover:bg-white-500 focus:outline-none focus:bg-white-500">
                            <span></span>
                              <span class="mx-6">Buy Now</span>
                          </button>


                    </div>
                </div>
                <div class="w-full max-w-md mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/5">
                    <% if(alsoSoldBy.length > 0){ %>
                        <h3 style="font-family: ubuntu;" class="text-black-700 font-bold uppercase text-lg mb-4">Also Sold By</h3>
                    <% alsoSoldBy.forEach((item) => { %>
                       <a href = "/productDetails/<%= item._id %>/<%= item.product._id %>/1">
                        <div class=" w-full flex border p-2 m-2 rounded">
                            <div class="w-1/3 h-full  md:h-2/2 ">
                                <img class="h-full w-full rounded-md object-contain max-w-lg mx-auto" src="/img/<%= item.product.image %>" alt="<%= product.productCayegory %>">
                            </div>
                            <div class="w-2/3 h-full  md:h-2/2 px-2">
                                <h3 class="text-black-800 text-md "><%= item.vendor.fname %></h3>
                                <h3 class="text-black-800 text-md "><%= item.product.name %> - <%= item.name %></h3>
                                <div class="text-gray-400 text-xs my-1">by: <span class=" py-1 px- rounded uppercase text-xs"><%= item.brand %></span></div>
                                <span  class="text-black-800 text-md">₹ <%= item.price %></span>
                            </div>
    
                        </div>
                       </a>
                    <% }) %>
                    <a href="/allcategory" class="text-sm float-right hover:underline SeeMore" >See more</a>
                <% } %>
                </div>
            </div>



            <div class="mt-16">
                <h3 class="text-gray-600 text-2xl font-medium">Related Products</h3>
                <div class="grid gap-6 grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 mt-6">
                  
            <% suggested.forEach(function(suggested){ %> 

                <div class="flex flex-col items-center gap-2 px-2 py-6  relative hover:shadow-lg">
                    <a href="/productDetails/<%= suggested._id %>/<%= suggested.product._id %>/1" class="flex flex-col items-center text-center group">
                        <div class="w-36 h-36">
                            <img draggable="false" class="w-full h-full object-contain" src="/img/<%= suggested.product.image %>"
                                alt="{name}" />
                        </div>
                        <h2 class="text-sm mt-4 group-hover:text-blue-500">
                            <%= suggested.product.name %> - <%= suggested.name %>
                        </h2>
                        <span class="text-gray-400 text-xs ">By: <%= suggested.product.brand %></span>
    
                        <div class="flex flex-col gap-2 items-center">
    
                            <span class="text-sm text-gray-500 font-medium flex gap-2 items-center">
                                <span style="background-color: #388e3c;"
                                    class="text-xs px-1.5 py-0.5 mt-2 rounded-sm text-white flex items-center gap-0.5">4.5<img
                                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                                        class="_1wB99o"></span>
                                <span>(5)</span>
                            </span>
    
                            <div class="flex items-center gap-1.5 text-md font-medium">
                                <span>₹<%= suggested.price %></span>
                                <span class="text-gray-500 line-through text-xs">₹699</span>
                                <span class="text-xs text-primary-green">30%&nbsp;off</span>
                            </div>
    
                        </div>
                    </a>
                </div>
            
            <% }) %>
        </div>
        <div>
            <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white px-4 py-3 flex items-center justify-center border-t border-gray-200 sm:px-6">
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-center">
      <div>
            <div class = "flex justify-center">
                <% if (pagesList > 0) { %>
                    <nav aria-label="Page navigation example">
                        <ul class="flex list-style-none">
                            <% if (current == 1) { %>
                                <li class="page-item active disabled"><a
                                    class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-500 pointer-events-none focus:shadow-none"
                                    href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                            <% } else { %>
                                <li class="page-item active"><a
                                    class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                    href="/productDetails/<%= product._id %>/<%= product.product._id %>/<%= current-1 %>">Previous</a></li>
                            <% } %>
                            <% var i = (Number(current) > 3 ? Number(current) - 2 :1) %>
                            <% if (i !== 1) { %>
                                <li class="page-item disabled"><a
                                    class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                    href="">...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 2) && i <= pagesList; i++) { %>

                                
                                <%  if (i == current) { %>
                                    <li class="page-item activeList"><a
                                        class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                        href="#"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a
                                        class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                        href="/productDetails/<%= product._id %>/<%= product.product._id %>/<%= i %>"><%= i %></a></li>
                                <% } %>
                               
                                <% if (i == Number(current) + 2 && i < pagesList) { %>
                                    <li class="page-item disabled" disabled><a
                                        class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                        href="">...</a></li>
                                <% } %>
                            <% } %>
                            <% if (current == pagesList) { %>
                                <li class="page-item "><a
                                    class=" page-link  relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                    href="#">Next</a></li>
                            <% } else { %>
                                <li class="page-item"><a
                                    class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                    href="/productDetails/<%= product._id %>/<%= product.product._id %>/<%= parseInt(current)+1 %>">Next</a></li>
                            <% } %>
                        </ul>    
                    </nav>
                <% } %>
            </div>
        </div>
    </main>

    <script>
         

        $('#add-cart-btn').click(function(){
          var params = {
            pid: '<%= product._id %>',
            qty: $('#product-qty').val(),
            total: '<%= product.price %>'
          }
  
          $.ajax({
          type: 'POST',
          url: '/update-cart',
          data: params, 
          dataType: 'json',
          encode: true
          }).done(function(result){
            if(result.status == "success"){
               
              $('#cartcount').html('<super><span id = "cartcount"><i class = "fa fa-circle" style= "font-size: 10px;color: orange"></i></span></super>');
              alert('Product added to cart');
              $( "#buttonSection" ).load(window.location.href + " #buttonSection" );
            }
          })
        })
        $('#buy-now-btn').click(function(){
          var params = {
            pid: '<%= product._id %>',
            qty: $('#product-qty').val(),
            total: '<%= product.price %>'
          }
  
          $.ajax({
          type: 'POST',
          url: '/update-cart',
          data: params, 
          dataType: 'json',
          encode: true,
         }).done(function(result){
            if(result.status == "success"){
              $('#cartcount').html('<super><span id = "cartcount"><i class = "fa fa-circle" style= "font-size: 10px;color: orange"></i></span></super>');
              
            }
          })
          var url= '/customer/checkout';
    document.write("");
    setTimeout(function(){window.location = url;}, 500);
        
        })
      </script>