<section class="container mx-auto p-8 border flex flex-wrap justify-around">
    
    <% nashta.forEach(function(nashta){ %>

        <a href="/allcategory/products/<%= nashta._id%>/1">
            <div class="flex flex-col h-min w-40 p-1 border-box bg-white rounded xl m-5 cursor-pointer">
                <lottie-player src="<%= nashta.pimage %>"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop  autoplay></lottie-player>
                <div class="flex border-box p-1 flex-col">
                    <div class="text-center">
                        <%= nashta.pcategory %>
                    </div>
                </div>
            </div>
        </a>

        <% }) %>

</section>



<!-- <div><h1 class="heading">Brands</h1></div>

<section class="container mx-auto mb-14 p-8 flex flex-wrap justify-around">       
 <% brand.forEach(function(brand){ %>

 <a href="/brand/<%= brand.subCategory %>">
  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-44 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/<%= brand.imagename %>" alt="" srcset=""></a>
  </div> 
 </a>
 
 <% }) %>
</section> -->

<h1 class="heading">Brands</h1>

<section class="container mx-auto mb-14 p-8 flex flex-wrap justify-around">
  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-36 p-1 border-box bg-white rounded xl m-5"> 
    
      <img src="/img/thermofisher.png" alt="" srcset=""></a>
  </div> 

  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-36 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/remi.png" alt="" srcset="">
  </div> 

  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-36 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/polylab.png" alt="" srcset="">
  </div> 

  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-36 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/borosil.jpg" alt="" srcset="">
  </div> 

  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-36 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/tarson.png" alt="" srcset="">
  </div> 

  <div style="justify-content: center; align-items: center;" class="flex flex-col h-min w-36 p-1 border-box bg-white rounded xl m-5"> 
      <img src="/img/merck.svg" alt="" srcset="">
  </div> 
</section>